.page {
  min-width: 320px;
  max-width: 1440px;
  /* выше установили ограничение по максимальной ширине */
  margin: auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  /* Чтобы убрать горизонтальный скролл от фрилансера */
  overflow: hidden;
  position: relative;
}
