.who {
  padding-top: 100px;
  padding-bottom: 136px;
}

@media screen and (max-width: 1439px) {
  .who {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media screen and (max-width: 1023px) {
  .who {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.who__container {
  margin-top: 100px;
  display: flex;
  column-gap: 121px;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 30px;
}

@media screen and (max-width: 1279px) {
  .who__container {
    margin-top: 50px;
    column-gap: 30px;
  }
}

@media screen and (max-width: 768px) {
  .who__container {
    margin-top: 30px;
  }
}

.who__video {
  max-width: 597px;
}

@media screen and (max-width: 1439px) {
  .who__video {
    max-width: 470px;
  }
}

@media screen and (max-width: 479px) {
  .who__video {
    width: 100%;
  }
}

.who__field {
  max-width: 333px;
}

.who__field-title {
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
}

.who__field-subtitle {
  max-width: 333px;
  color: #737373;
  margin: 10px 0 30px;
}

.who__paragraphs {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.who__paragraph-wrapper {
  display: flex;
  gap: 21px;
}

.who__paragraph-heading {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  margin: 0;
}

.who__paragraph-image {
  width: 30px;
  height: 30px;
}

.who__paragraph-text {
  margin: 5px 0 0 51px;
}