.section-button {
  border: 1px solid #FF7B47;
  min-height: 44px;
  padding: 15px;
  border-radius: 5px;
}

.section-button_plase_contact {
  color: #FF7B47;
  background: transparent;
  max-width: 160px;
}

.section-button_plase_contact:hover {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}

.section-button_plase_business {
  background-color: #FF7B47;
  color: #FFFFFF;
}

@media screen and (max-width: 479px) {
  .section-button_plase_business {
    flex: 1 1 auto;
  }
}