.root {
  /* color: #FFFFFF;
  background-color: #2A2C2F;*/
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #252B42;
  font-size: 14px;
  line-height: 143%;
  /* Сглаживание */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Подгонка размера текста */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  /* Рендеринг */
  text-rendering: optimizeLegibility;
  background: #FAFAFA;
}