.subscribe {
  padding-top: 50px;
}

.subscribe__resources {
  display: flex;
  flex-wrap: wrap;
  column-gap: 86px;
  row-gap: 30px;
  justify-content: center;
}

@media screen and (max-width: 1380px) {
  .subscribe__resources {
  column-gap: 50px;
  row-gap: 30px;
  }
}

@media screen and (max-width: 479px) {
  .subscribe__resources {
    row-gap: 20px;
  }
}

.subscribe__resources-logo {
  max-width: 103px;
  object-fit: contain
}

.subscribe__decoration {
  min-height: 77px;
  background-color: #252B42;
  ;
}

.subscribe__email {
  margin-top: 70px;
  margin-bottom: -57px;
  background-color: #17213C;
  min-height: 124px;
  opacity: 0.999;
}

.subscribe__email-container {
  display: flex;
  padding: 30px 40px;
  box-sizing: border-box;
  flex-wrap: wrap;
  column-gap: 180px;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1380px) {
  .subscribe__email-container {
    column-gap: 60px;
  }
}

@media screen and (max-width: 1023px) {
  .subscribe__email-container {
    row-gap: 30px;
    padding: 20px;
  }
}

.subscribe__text {
  margin: 0;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  max-width: 266px;
}

@media screen and (max-width: 767px) {
  .subscribe__text {
    font-size: 18px;
  }
}

.subscribe__form {
  display: flex;
}

@media screen and (max-width: 767px) {
  .subscribe__form {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.subscribe__form-email {
  display: block;
  width: 333px;
  border-radius: 5px;
  padding-left: 20px;
  line-height: 200%;
  color: #737373;
  min-height: 58px;
  flex: 1 1 auto;
}

@media screen and (max-width: 1023px) {
  .subscribe__form-email {
   width: 200px;
  }
}

.subscribe__form-button {
  display: block;
  background-color: #FF7B47;
  color: #FFFFFF;
  border-radius: 5px;
  line-height: 200%;
  padding: 15px 22.5px;
  flex: 1 1 auto;
}