.solution {
  padding-top: 184px;
  background: url(../../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: top right;
  min-height: 793px;
  box-sizing: border-box;
  position: relative;
  z-index: -1;
}

@media screen and (max-width: 1279px) {
  .solution {
    padding-top: 100px;
    min-height: 693px;
  }
}

@media screen and (max-width: 1279px) {
  .solution::before {
    content: '';
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.solution__title {
  margin: 0;
  font-weight: 800;
  font-size: 58px;
  line-height: 138%;
  max-width: 509px;
  margin-bottom: 35px;
}

@media screen and (max-width: 479px) {
  .solution__title {
    font-size: 42px;
  }
}

.solution__subtitle {
  margin: 0;
  max-width: 376px;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 35px;
  color: #737373;
}

.solution__buttons {
display: flex;
flex-wrap: wrap;
gap: 10px;
}

.solution-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 48px;
  border-radius: 37px;
  background: #FF7B47;
  font-size: 14px;
  line-height: 200%; 
  font-weight: 700;
  color: #FFFFFF;
  border: 1px solid #FF7B47;
  padding: 5px 36px;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
}

.solution-button_light {
  background: transparent;
  color: #0D5C63;
  border: 1px solid #0D5C63;
}

@media screen and (max-width: 479px) {
  .solution-button {
    /* flex-grow, flex-shrink, flex-basis Значение по умолчанию: 0 1 auto */
    flex: 1 1 auto;
  }
}