.container {
  margin: 0 auto;
  max-width: 73%;
}

@media screen and (max-width: 1279px) {
  .container {
    max-width: 85%;
  }
}

@media screen and (max-width: 479px) {
  .container {
    max-width: 90%;
  }
}