.header__menu-link {
  color: #737373;
  text-decoration: none;
  transition: opacity 0.5s linear;
  line-height: 171%;
}

@media screen and (max-width: 479px) {
  .header__menu-link {
    font-size: 18px;
    line-height: 100%;
  }
}

.header__menu-link:hover {
  text-decoration: underline;
  opacity: 0.8;
  color: #0D5C63;
}
